*.swp
.DS_Store
.editorconfig
.git/
.gitignore
.travis.yml
LICENSE
README.md
config.json
node_modules/
npm-debug.log
static/javascripts/bower/
static/javascripts/dist/*.min.js
static/javascripts/dist/*.min.js.map
static/stylesheets/dist/*.css
static/stylesheets/dist/*.css.map
tetris-go
