# Compiled Object files, Static and Dynamic libs (Shared Objects)
*.o
*.a
*.so

# Folders
_obj
_test

# Architecture specific extensions/prefixes
*.[568vq]
[568vq].out

*.cgo1.go
*.cgo2.c
_cgo_defun.c
_cgo_gotypes.go
_cgo_export.*

_testmain.go

*.exe
*.test
*.prof

*.swp
.DS_Store
.env
config.json
node_modules/
npm-debug.log
static/javascripts/bower/
static/javascripts/dist/*.min.js
static/javascripts/dist/*.min.js.map
static/stylesheets/dist/*.css
static/stylesheets/dist/*.css.map
rolli3.net

*.tfstate
*.tfstate.backup
.terraform.tfstate.lock.info
.terraform/
