
<div class="tetris-about row">
    <div class="avatar-img col-xs-12 col-sm-3 col-md-2">
        <div class="avatar avatar-<%= avatarRandNum %>">&nbsp;</div>
    </div>
    <div class="about-txt col-xs-12 col-sm-9 col-md-10">
        <div class="pre-ish"><!--
            --><p>Hey, I'm Rollie:</p><!--
            --><ul><!--
                --><li>LEGO bricks and Linux enthusiast.</li><!--
                --><li>Self-motivated and fascinated by robotics, computer vision and machine learning.</li><!--
                --><li>Polyglot developer captivated by Go, Python and JavaScript.</li><!--
            --></ul><!--
        --></div>
    </div>
</div>
